body {
    font-family: Inter,  sans-serif; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #5988FF; /* Цвет фона веб-страницы */
    color: #D6FF6B; /* Цвет основного текста */ 
}
@keyframes color-change {
    0% {
      color: blue;
    }
    25% {
        color:purple
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}

h1 {:hover 
    color: #ffffff; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
    animation: color-change 3s infinite;
}
